.chatbox {
  height: 400px !important;
  overflow-y: auto;
}

.ui.center.aligned.icon.header {
  margin-top: 100px !important;
}

.ui.grid {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
